<div class="container mt-3">
  <div class="row text-center">
    <h2>Movies</h2>
  </div>
  <div class="row mt-3">
    <div class="col-8 text-center">
      <div class="input-group mb-3" style="width: 45%">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Search Movie</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          [(ngModel)]="search"
        />
      </div>
    </div>
    <div class="col-4 text-end">
    <div class="input-group ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Select Geners</span
        >
      </div>
      <select
       
      class="select-dropdown"
        [(ngModel)]="selectGenres"
        (change)="getfilteredData()"
      >
        <option selected disabled>Select Genres</option>
        <option Value="Action">Action</option>
        <option Value="Comedy">Comedy</option>
        <option Value="Crime">Crime</option>
        <option Value="Horror">Horror</option>
        <option Value="Thriller">Thriller</option>
      </select>
    </div>
  </div>
  </div>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-12 scrollit">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">Posters</th>
            <th scope="col">Titles</th>
          </tr>
        </thead>
        <tbody *ngIf="isDone">
          <tr
            class="text-center"
            *ngFor="
              let data of movieList
                | filter: search
                | paginate: { itemsPerPage: 5, currentPage: p }
            "
          >
            <td><img src="{{ data.poster_path }}" alt="" /></td>
            <td>{{ data.title }}</td>
          </tr>
        </tbody>

        <tbody *ngIf="!isDone">
          <tr
            class="text-center"
            *ngFor="
              let data of mainList
                | filter: search
                | paginate: { itemsPerPage: 5, currentPage: p }
            "
          >
            <td><img src="{{ data.poster_path }}" alt="" /></td>
            <td>{{ data.title }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-end" id="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
